<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="KiCadPanelAssyFG.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <KiCadPanelAssyFG.Properties.Settings>
            <setting name="FootprintDirs" serializeAs="String">
                <value>asdf</value>
            </setting>
            <setting name="UseSeparatePlacementFiles" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TopOutlineColor" serializeAs="String">
                <value>252, 36, 228</value>
            </setting>
            <setting name="BottomOutlineColor" serializeAs="String">
                <value>38, 233, 255</value>
            </setting>
        </KiCadPanelAssyFG.Properties.Settings>
    </userSettings>
</configuration>